<p>
  Show
  <select [(ngModel)]="tableService.selectedEntries">
    <option *ngFor="let entry of tableService.entriesPerPage" [ngValue]="entry">{{ entry }}</option>
  </select>
  entries per page
</p>
<table class="dynamic-table">
  <thead>
    <tr>
      <th
        [ngClass]="{ sort: sort.field === heading, desc: !sort.orderAsc }"
        *ngFor="let heading of tableHeader; let i = index"
        (click)="sortTable(heading, i)"
      >
        {{ heading }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableBody | slice: itemsStart:itemsEnd; index as rowIndex">
      <td
        *ngFor="let col of row; index as colIndex"
        contenteditable="true"
        (blur)="saveUserEdit($event.target.textContent, rowIndex, colIndex)"
      >
        {{ col }}
      </td>
    </tr>
  </tbody>
</table>

<div class="table-pagination">
  <div>
    <p>
      Showing {{ tableBody.length ? itemsStart + 1 : 0 }} to {{ itemsEnd }} of
      {{ tableBody.length }} entries
    </p>
  </div>
  <app-pagination
    [itemsTotal]="tableBody.length"
    [itemsPerPage]="tableService.selectedEntries"
    [currentPage]="+params.page"
    href="/page"
  ></app-pagination>
</div>
