table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 8px;
  border: 2px solid #ddd;
}

tbody {
  tr {
    &:nth-child(odd) {
      background-color: rgba(#000, 5%);
    }

    &:hover {
      background-color: rgba(#000, 15%);
      cursor: pointer;
    }
  }
}
