<div class="row">
  <p>
    Show
    <select [(ngModel)]="tableService.selectedEntries">
      <option *ngFor="let entry of tableService.entriesPerPage" [ngValue]="entry">
        {{ entry }}
      </option>
    </select>
    entries per page
  </p>
  <div>
    <label for="search">Search: </label>
    <input [(ngModel)]="searchTerm" type="search" id="search" (input)="search()" />
  </div>
</div>

<table class="dynamic-table">
  <thead>
    <tr>
      <th
        [ngClass]="{ sort: sort.field === heading, desc: !sort.orderAsc }"
        *ngFor="let heading of tableHeader; let i = index"
        (click)="sortTable(heading, i)"
      >
        {{ heading }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of filteredTableBody | slice: itemsStart:itemsEnd; index as rowIndex">
      <td
        *ngFor="let col of row; index as colIndex"
        contenteditable="true"
        (blur)="saveUserEdit($event.target.textContent, rowIndex, colIndex)"
        [innerHTML]="col"
      ></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div>
    <p>
      Showing {{ filteredTableBody.length ? itemsStart + 1 : 0 }} to {{ itemsEnd }} of
      {{ filteredTableBody.length }} entries
    </p>
  </div>
  <app-pagination
    [itemsTotal]="filteredTableBody.length"
    [itemsPerPage]="tableService.selectedEntries"
    [currentPage]="+params.page"
    href="/page"
  ></app-pagination>
</div>
