table {
  border-collapse: collapse;
  width: 100%;
}

th {
  cursor: pointer;

  &.sort {
    &::after {
      content: '\25B2';
    }

    &.desc {
      &::after {
        content: '\25BC';
      }
    }
  }
}

td,
th {
  padding: 8px;
  border: 2px solid #ddd;
}

tbody {
  tr {
    &:nth-child(odd) {
      background-color: rgba(#000, 5%);
    }

    &:hover {
      background-color: rgba(#000, 15%);
    }
  }
}

.table-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}
