<div>
  <label for="json-input">Insert link to JSON: </label>
  <input
    #input
    type="text"
    id="json-input"
    placeholder="http://example.com/data.json"
    value="https://jsonplaceholder.typicode.com/photos"
    required
  />
  <button (click)="getJSON(input.value.trim())">Get data</button>
</div>
<br />
<div>
  <label for="json-upload">Upload JSON </label>
  <input
    id="json-upload"
    type="file"
    accept="application/json"
    (change)="upload($event.target.files[0])"
  />
</div>

<router-outlet></router-outlet>
