<nav>
  <button [routerLink]="[href, currentPage - 1]" [disabled]="currentPage === 1">Previous</button>

  <ng-container *ngIf="pages.length <= 5; else elseBlock">
    <button
      *ngFor="let page of pages"
      [routerLink]="[href, page]"
      [disabled]="currentPage === page"
    >
      {{ page }}
    </button>
  </ng-container>

  <button [routerLink]="[href, currentPage + 1]" [disabled]="currentPage === pagesTotal">
    Next
  </button>
</nav>

<ng-template #elseBlock>
  <ng-container *ngIf="currentPage < 3">
    <button
      *ngFor="let page of pages | slice: 0:3; first as isFirst"
      [routerLink]="[href, page]"
      [disabled]="isFirst"
    >
      {{ page }}
    </button>
    <div>...</div>
    <button [routerLink]="[href, pagesTotal]">{{ pagesTotal }}</button>
  </ng-container>

  <ng-container *ngIf="pagesTotal > 5 && (currentPage >= 3 && currentPage <= pagesTotal - 2)">
    <button [routerLink]="[href, 1]">1</button>
    <div>...</div>

    <button [routerLink]="[href, currentPage - 1]">{{ currentPage - 1 }}</button>
    <button disabled>{{ currentPage }}</button>
    <button [routerLink]="[href, currentPage + 1]">{{ currentPage + 1 }}</button>

    <div>...</div>
    <button [routerLink]="[href, pagesTotal]">{{ pagesTotal }}</button>
  </ng-container>

  <ng-container *ngIf="currentPage > pagesTotal - 2">
    <button [routerLink]="[href, 1]">1</button>
    <div>...</div>
    <button
      *ngFor="let page of pages | slice: -3"
      [routerLink]="[href, page]"
      [disabled]="page === currentPage"
    >
      {{ page }}
    </button>
  </ng-container>
</ng-template>
